{% extends "base.html" %}

{% block title %}Detalhes do Curso{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ curso.nome }}</h1>
    <p><strong>Descrição:</strong> {{ curso.descricao }}</p>
    <p><strong>Duração:</strong> {{ curso.duracao }} horas</p>
    <p><strong>Instrutor:</strong> {{ curso.instrutor }}</p>
    <p><strong>Progresso:</strong> {{ inscricao.progresso if inscricao else 0 }}%</p>

    {% if inscricao %}
        <h2>Conteúdo do Curso</h2>
        <p>{{ curso.conteudo }}</p>

        <h3>Aulas</h3>
        <ul>
            {% for aula in curso.aulas %}  {# Acesso à lista de aulas do curso #}
                <li><a href="{{ url_for('video_aula', aula_id=aula.id) }}">{{ aula.nome }}</a></li>
            {% endfor %}
        </ul>


    {% else %}
        <p>Você não está inscrito neste curso.</p>
        <form action="{{ url_for('inscrever_curso', curso_id=curso.id) }}" method="POST">
            <button type="submit" class="btn btn-primary">Inscreva-se</button>
        </form>
    {% endif %}

    <h2>Feedback</h2>
    <form action="{{ url_for('feedback_curso', curso_id=curso.id) }}" method="post">
        <div class="form-group">
            <label for="comentario">Comentários:</label>
            <textarea name="comentario" id="comentario" class="form-control" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Enviar Feedback</button>
    </form>
</div>
{% endblock %}
